<section id="one" class="tiles">
    <article>
      <span class="image">
        <img src="{{ "assets/images/pic01.jpg" | relative_url }}" alt="{{page.title}} Developed By Ahy Consulting" />
      </span>
      <header class="major">
        <h3><a href="{{ page.url | relative_url  }}" class="link">Introduction</a></h3>
        <p>
            Namaste and Welcome to this enchanted and divine space. I am Ruchi Pahuja Pesricha. I am a Spiritual Healer, Yoga Teacher, Counsellor and Mentor devoted to healing. I am here to help you know your pathway to an abundant, joyful and peaceful life. My healing workshops aim to bring out the best in you and to deepen your spiritual connection. If you want to connect and accentuate your inner powers and share the delightful gifts that only you bring to the world then come aboard on this journey of self-improvement, healing, and empowerment.
        </p>
      </header>
    </article>

    <article>
      <span class="image">
        <img src="{{ "assets/images/pic03.jpg" | relative_url }}" alt="{{page.title}} Developed By Ahy Consulting" />
      </span>
      <header class="major">
        <h3><a href="{{ page.url | relative_url  }}" class="link">Reiki</a></h3>
        <p>
        Reiki is a spiritual healing practice developed in 1922 by Dr. Mikao Usui in Japan. The word “Rei” means Universal, and “Ki” means life force energy. Reiki energy is channelled from the Practitioner to the patient in two ways i.e. hands-on technique and distance healing. Reiki energy targets the energy fields around the body.
        </p>
      </header>
    </article>

</section>
