<section id="one" class="tiles">
    <article>
      <span class="image">
        <img src="{{ "assets/images/pic03.jpg" | relative_url }}" alt="{{page.title}} Developed By Ahy Consulting" />
      </span>
      <header class="major">
        <h3><a href="{{ page.url | relative_url  }}workshops#reikisection" class="link">Reiki</a></h3>
        <p>
        Reiki is a spiritual healing practice developed in 1922 by Dr. Mikao Usui in Japan. The word “Rei” means Universal, and “Ki” means life force energy. Reiki energy is channelled from the Practitioner to the patient in two ways i.e. hands-on technique and distance healing. Reiki energy targets the energy fields around the body.
        </p>
      </header>
    </article>

    <article>
      <span class="image">
        <img src="{{ "assets/images/pic04.jpg" | relative_url }}" alt="{{page.title}} Developed By Ahy Consulting" />
      </span>
      <header class="major">
        <h3><a href="{{ page.url | relative_url  }}workshops#angelicsection" class="link">Angelic Healing </a></h3>
        <p>
            Did you know every being on earth is guarded by their angles, and many of us aren’t even aware of this? Angels are celestial beings and messengers of God. They act as mediators between Humans and God. Angelic Healing is a powerful, useful, and safe means that enables one in gaining heavenly guidance and assistance in times of need. Angels are directed towards human benefit for their protection and healing in every aspect of life.
        </p>
      </header>
    </article>

    <article>
      <span class="image">
        <img src="{{ "assets/images/pic05.jpg" | relative_url }}" alt="{{page.title}} Developed By Ahy Consulting" />
      </span>
      <header class="major">
        <h3><a href="{{ page.url | relative_url  }}workshops#akashicsection" class="link">Akashic Records </a></h3>
        <p>
            Akashic records are the record of a soul’s journey from the beginning of time and have been referred to as the “Book of Remembrance” in Torah, “The Book of Life” in Bible, Yamaraj’s assistant Chitragupta’s “Book of Karma” in Hindu Scriptures.
        </p>
      </header>
    </article>

    <article>
      <span class="image">
        <img src="{{ "assets/images/pic06.jpg" | relative_url }}" alt="{{page.title}} Developed By Ahy Consulting" />
      </span>
      <header class="major">
        <h3><a href="{{ page.url | relative_url  }}workshops#crystalsection" class="link">Crystal Healing </a></h3>
        <p>
            Crystal healing is an alternative healing technique that uses semi-precious stones and crystals such as Quartz, Amethyst, etc. Use of crystal for the healing purpose was extensive during ancient times, and even today people wear or carry the precious or semi-precious stones for healing and protection.
        </p>
      </header>
    </article>

    <article>
      <span class="image">
        <img src="{{ "assets/images/pic07.jpg" | relative_url }}" alt="{{page.title}} Developed By Ahy Consulting" />
      </span>
      <header class="major">
        <h3><a href="{{ page.url | relative_url  }}workshops#yogasection" class="link">Yoga </a></h3>
        <p>
            Benefits of Yoga are innumerable, one can experience and feel the difference. Yoga vitalizes your health, uplift positive energy, promotes flexibility, helps in weight loss, improves overall health and much more. Since the benefits of yoga are endless, you must book a yoga session to feel the difference!
        </p>
      </header>
    </article>

    <article>
      <span class="image">
        <img src="{{ "assets/images/pic08.jpg" | relative_url }}" alt="{{page.title}} Developed By Ahy Consulting" />
      </span>
      <header class="major">
        <h3><a href="{{ page.url | relative_url  }}workshops#mthsection" class="link">Merlin Trinity Healing  </a></h3>
        <p>
            Once you experience Merlin Trinity Healing System, you will adhere to it for a lifetime. The benefits are immeasurable. To experience the energies and magic of MTHS book a session with us.
        </p>
      </header>
    </article>

</section>
